body {
    width: 100%;
    height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

h1 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
    color: #fff;
}

h2 {
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 40px;
    padding-bottom: 5px;
    padding-top: 35px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 70px;
    text-align: center;
    padding-top: 35px;
    color: #fff;
    text-transform: uppercase;
}

.inputCalc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#inNumber {
    width: auto;
    height: 80px;
    background-color: #fff;
    color: #C850C0;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 15px;
    font-size: 45px;
    margin-top: 18px;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btnOperators {
    border-radius: 20px;
    text-align: center;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

button {
    width: 65px;
    height: 55px;
    background-color: #fff;
    border: none;
    border: 2px solid #fff;
    border-radius: 10px;
    color: lightseagreen;
    font-size: 32px;
    margin: 15px 15px;
}

button:hover {
    color:darkblue;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btnIgual {
    width: 180px;
    height: 55px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    color: lightseagreen;
    font-size: 32px;
    margin: 15px 15px;
}




